body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  display: flex;              /* Flex para estructurar */
  flex-direction: column;     /* Columnas verticales */
  min-height: 100vh;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color:#C4DFDF;
  color: white;
  text-align: center;
  padding: 10px;
}

nav.menu {
  background-color: #C4DFDF;
  display: flex;
  justify-content: center; 
  padding:10px 0;
  position: relative; 
  z-index: 10;
}

nav.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav.menu ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  position: relative;
}

nav.menu ul li a {
  color: white;
  text-decoration: none;
}

nav.menu ul li:hover > a {
  background-color: #ddd;
  color: #333;
}

nav.menu ul li ul.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #C4DFDF;
  padding: 0;
  list-style-type: none;
  z-index: 20;
}

nav.menu ul li ul.submenu li {
  padding: 10px 20px;
}

nav.menu ul li ul.submenu li a {
  color: #333;
  text-decoration: none;
}

nav.menu ul li ul.submenu li a:hover {
  background-color: #ddd;
  color: #333;
}

nav.menu ul li:hover ul.submenu {
  display: block;
}

main {
  margin-left: 220px;
  padding: 20px;
  position: relative; /* Asegura que el contenido principal no interfiera con el menú */
  z-index: 1;
  flex:1;
}

footer {
  background-color: #C4DFDF;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.logo img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  margin: 0;
  margin-left: 10px;
}

.login {
  margin-right: 20px;
}

.login a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login a:hover {
  color: #ddd;
}
/* Contenedor para todo el equipo médico */
.equipo-medico {
  display: flex;
  justify-content: center;     /* Centra las tarjetas horizontalmente */
  flex-wrap: wrap;             /* Permite que las tarjetas se muevan a la siguiente línea si es necesario */
  gap: 20px;                   /* Espacio entre las tarjetas */
  margin: 40px 0;              /* Margen superior e inferior */
}

/* Estilos para cada tarjeta de médico */
.medico {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 220px;                /* Fija el ancho de cada tarjeta */
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;            /* Asegura que no haya desbordamiento */
}

/* Ajustes de las imágenes */
.medico img {
  width: 50%;                 /* La imagen ocupa todo el ancho de la tarjeta */
  height: 100px;               /* Fija la altura de las imágenes */
  object-fit: cover;           /* Ajusta la imagen sin distorsionar, recortando si es necesario */
  border-radius: 10px;         /* Bordes redondeados */
}

/* Estilo para el nombre del médico */
.medico h3 {
  color: #ff5733 ;
  margin-top: 15px;
  font-size: 18px;             /* Tamaño del nombre del médico */
}

/* Estilo para la especialidad */
.medico p {
  color: #555;
  font-size: 14px;             /* Tamaño del texto de especialidad */
}
.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.producto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 240px;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ddd;
  position: relative;
}

.producto img {
  width: 100%; 
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.laboratorio {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  margin-bottom: 5px;
}

.producto h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.producto .precio-normal {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
  margin-bottom: 5px;
}

.producto .precio-normal span {
  font-size: 12px;
}

.producto .precio-descuento {
  font-size: 18px;
  color: #ff5733;
  font-weight: bold;
  margin: 5px 0;
}

.producto .oferta {
  background-color: #ffd700;
  color: black;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 4px;
  margin-left: 5px;
}

.opciones {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-size: 12px;
  color: #555;
}

.boton-agregar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-weight: bold;
}

.boton-agregar:hover {
  background-color: #45a049;
}
/* Estilo para pedir horita */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #555;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.rut-container, .name-container, .phone-container {
  display: flex;
  gap: 10px;
}

input[type="text"], input[type="date"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="radio"] {
  margin-right: 10px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #218838;
}
/* Estilo para la info de farmacias */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Hace que el body ocupe al menos el 100% de la pantalla */
  display: flex;
  flex-direction: column;
}

.farmacias-container {
  flex-grow: 1; /* Esto asegura que el contenido crezca y no se solape con el footer */
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.farmacia-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 60px;
  justify-items: center;
}

.farmacia-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.farmacia-card h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.farmacia-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.farmacia-card a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.farmacia-card a:hover {
  text-decoration: underline;
}

/* Estilo para el footer */
.footer {
  background-color: #C4DFDF;
  text-align: center;
  padding: 10px 0;
  position: relative; /* Asegura que no se superponga con el contenido */
  bottom: 0;
}

